/* MAIN CSS */
@mixin large {
  @media screen and (min-width: 640px){
    @content;
  }
}
* {
  box-sizing: border-box;
  *behavior: url(/js/boxsizing.htc);
}

body {
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 16px;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', Arial, sans-serif;
  font-weight: 400;
}

a {
  color: #3498db;
  text-decoration: none;
  &:hover {
    color: #2a84bf;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Blog Header & Navigation */

.blog-header {
  padding: 30px 15px;
  background-color: #333;
}

.blog-name {
  font-family: 'Varela Round', Arial, sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  @include large{
    text-align: left;
    margin-bottom: 0;
  };
}

.blog-name a {
  color: #fff;
}

.search-form input {
  height: 36px;
  line-height: 36px; // ie
  background-color: #ccc;
  color: #555;
  border: 0;
  padding: 0 10px;
  border-radius: 20px;
  position: relative; // ie
  behavior: url(/js/PIE.htc); //ie
}

.search-form input::-webkit-input-placeholder { color: #555; }
.search-form input:-moz-placeholder { color: #555; }
.search-form input::-moz-placeholder { color: #555; }
.search-form input:-ms-input-placeholder { color: #555; }

.search-form input:focus {
  box-shadow: none;
  background-color: #bbb;
}

.blog-menu {
  margin: 30px 0;
  text-align: center;
}

.blog-menu ul {
  padding-left: 0;
}

.blog-menu li {
  margin: 15px;
  list-style: none;
  @include large{
    display: inline;
  };
}

.blog-menu a {
  color: #7f8c8d;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Varela Round', Arial, sans-serif;
  &:hover {
    color: #3498db;
  }
}


/* Content */

.blog-content {
  padding: 15px;
  margin-bottom: 30px;
}

.post {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}

.post-title {
  font-style: 36px;
  text-align: center;
  margin-top: 0;
  @include large{
    font-size: 48px;
  };
  a {
    color: #333;
    &:hover {
      color: #3498db;
    }
  }
}

.post-meta {
  font-style: 18px;
  margin: 20px 0 0;
  text-align: center;
  color: #999;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 10px;
    @include large{
      display: inline;
    };
  }
}

.post-thumbnail {
  margin: 0;
  figcaption {
    color: #bdc3c7;
    margin-top: 15px;
    font-style: 16px;
    font-style: italic;
  }
}

.post-excerpt {
  color: #555;
  font-size: 18px;
  line-height: 30px;
}

.blog-pagination {
  text-align: center;
  font-size: 16px;
  position: relative;
  margin: 60px 0;
  ul {
    padding-left: 0;
  }
  li, a {
    display: block;
    width: 100%;
    @include large{
      display: inline;
    };
  }
  li {
    font-family: 'Varela Round', Arial, sans-serif;
    color: #dbc3c7;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  a {
    border-radius: 30px;
    color: #7f8c8d;
    padding: 15px 30px;
    border: 1px solid #bdc3c7;
    &:hover {
      color: #fff;
      background-color: #7f8c8d;
      border: 1px solid #7f8c8d;
    }
  }
  .pageof {
    position: absolute;
    top: -30px;
    @include large{
      position: relative;
      top: 0;
      padding: 0 20px;
    };
  }
}

/* Footer */

.blog-footer {
  background-color: #ecf0f1;
  padding: 60px 0;
  font-family: 'Varela Round', Arial, sans-serif;
  margin-top: 60px;
}

.blog-footer,
.blog-footer a {
  color: #7f8c8d;
}

.social-media {
  margin: 0 0 30px;
  @include large{
    text-align: left;
  };
  ul {
    margin: 0;
    padding-left: 0;
  }
  li {
    margin: 0 8px 10px;
    list-style: none;
    @include large{
      display: inline;
    };
  }
  li, a {
    font-size: 18px;
  }
  a:hover {
    color: #333;
  }
}

.copyright {
  margin-top: 0;
  @include large{
    text-align: right;
  };
}

.social-media,
.copyright {
  text-align: center;
}
